body {
    background-image: url("/images/prev.png") ;
    background-repeat: no-repeat;
    display: flex;
    background-size: cover;
    justify-content: center;
    margin: 0;
    align-items: center;
    font-family: "Montserrat", serif;
    
}

.register-ctn{
    color: white;
    position: relative;
    background-color: black;
    padding: 15px;
    height: 600px;
    width: 500px;
    text-align: center;
    font-size: 25px;
    font-family: "Montserrat", serif;
    font-weight: 100;
    margin-top: 50px;
    
}

#username, #password, #phone, #email {
    width: 300px;
    height: 30px;
    font-size: 15px;
    padding-left: 10px;
    font-family: "Montserrat", serif;
    font-weight: 500;
    border: none;
    outline: none;
   

}



h1 {
    
    font-weight: 300;
}

#username:hover {
    border: none;
}

#register-btn {
    height: 40px;
    width: 312px;
    background-color: rgb(229, 71, 71); 
    border: none;
    outline: none;
    font-family: "Montserrat", serif;
    color: white;
    margin-bottom: 30px;

}
#register-btn:hover{
    background-color: rgb(231, 98, 98);
}

a:hover {
    color: rgb(141, 139, 139);
}
